@import 'variables';
@import 'pages/dashboard';
@import 'pages/profile';

html, body {
  margin: 0;
  padding: 0;
}

.comment-container{
	border: 1px solid #A9A9A9;
	border-radius: 5px;
	margin-top: 5px;
}

.navbar-header {
	width: 100%;
}

.navbar-logout-container {
	line-height: 50px;
}