<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<button type="submit" class="btn btn-primary btn-sm" ng-click="onCreateAdminClick()">Kreiraj novog admina</button><br><br>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Ime</th>
						<th>Prezime</th>
						<th>Email</th>
						<th>Obriši admina</th>	
						<th>Ažuriraj admina</th>
					</tr>	
				</thead>
				<tbody>
					<tr ng-repeat="admin in admins">
						<td>{{admin.name}}</td>
						<td>{{admin.surname}}</td>
						<td>{{admin.email}}</td>
						<td><button type="submit" class="btn btn-primary btn-xs" ng-click="onDeleteAdminClick(admin)">Obriši admina</button></td>
						<td><button type="submit" class="btn btn-primary btn-xs" ng-click="onEditAdminClick(admin)">Ažuriraj admina</button></td>
					</tr>
				</tbody>
			</table>
		</div>	
	</div>
</div>