<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">

      <form class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="name">Ime</label>
          <input type="name" class="form-control" id="name" placeholder="Ime" ng-model="editData.name">
        </div>
        <div class="form-group">
          <label class="sr-only" for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Email" ng-model="editData.email">
        </div class= "buttonEdit">
        <button type="submit" class="btn btn-default" ng-click="onDeleteAdminClick()">Obriši admina</button>
        <button type="submit" class="btn btn-default" ng-click="onSaveAdminClick()">Spremi promjene</button>
      </form>

    </div>
  </div>
</div>  