<div class="container-fluid">
	<div class="row">
		<div class="col-xs-6">
			<p>  
		 	  <button type="button" class="btn btn-primary btn-sm" ng-click="onAddAdminClick()">Dodaj admina</button>
			</p>

			<table class="table table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Ime</th>
						<th>Email</th>	
						<th>Akcija</th>
					</tr>	
				</thead>
				<tbody>
					<tr ng-repeat="admin in adminsData">
						<td>{{admin.id}}</td>
						<td>{{admin.name}}</td>
						<td>{{admin.email}}</td>
						<td><button type="button" class="btn btn-default btn-xs" ng-click="onEditClick()">Uredi</button></td>
					</tr>
				</tbody>
			</table>
			
			<div ng-click="changeView('/superadmin/edit')">Vodi me na drugu stranicu</div>

		</div>	
	</div>
</div>