<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">

      <form class="form-inline">
        <div class="form-group">
          <label class="sr-only" for="name">Ime</label>
          <input type="name" class="form-control" id="name" placeholder="Ime" ng-model="userData.name">
        </div>

        <div class="form-group">
          <label class="sr-only" for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Email" ng-model="userData.email">
        </div>
        <button type="submit" class="btn btn-default" ng-click= "onAddUserClick()" >Dodaj</button>
      </form>

    </div>
  </div>
</div>
