<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<p>  
		 	  <button type="button" class="btn btn-primary btn-sm" ng-click="onAddUserClick()">Kreiraj novog korisnika</button>
			</p>

			<table class="table table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Ime</th>
						<th>Email</th>	
						<th>Uređivanje</th>
					</tr>	
				</thead>
				<tbody>
					<tr ng-repeat="user in usersData">
						<td>{{user.id}}</td>
						<td>{{user.name}}</td>
						<td>{{user.email}}</td>
						<td><button type="button" class="btn btn-default btn-xs" ng-click="onEditClick()">Uredi</button></td>
					</tr>
				</tbody>
			</table>

		</div>	
	</div>
</div>