<form class="form-horizontal">
  {{createAdData.error}}
  <div class="form-group">
  </div>
  <div class="form-group">
    <label for="inputSubject" class="col-sm-2 control-label">Naslov</label>
    <div class="col-sm-4">
      <input type="text" required="" class="form-control" id="subject" placeholder="Upiši naslov" ng-model="createAdData.subject">
      <label>
        <input type="radio" name="optionsRadios" id="looking" value="tražim" ng-model="createAdData.looking">Tražim instrukcije
      </label><br>
      <label>
        <input type="radio" name="optionsRadios" id="offer" value="nudim" ng-model="createAdData.offer">Nudim instrukcije
      </label>
    </div>
  </div>
  <div class="form-group">
    <label for="inputCategory" class="col-sm-2 control-label">Kategorija</label>
    <div class="col-sm-4">
      <input type="text" required="" class="form-control" id="category" placeholder="Upiši kategoriju" ng-model="createAdData.category">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPrice" class="col-sm-2 control-label">Cijena</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="price" placeholder="Upiši cijenu" ng-model="createAdData.price">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPlace" class="col-sm-2 control-label">Mjesto dolaska</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="place" placeholder="Upiši mjesto dolaska" ng-model="createAdData.place">
    </div>
  </div>
  <div class="form-group">
    <label for="inputTime" class="col-sm-2 control-label">Datum dolaska</label>
    <div class="col-sm-2">
      <input type="date" class="form-control" id="date" placeholder="Upiši datum dolaska" ng-model="createAdData.date">
    </div>
  </div>
  <div class="form-group">
    <label for="inputTime" class="col-sm-2 control-label">Vrijeme dolaska</label>
    <div class="col-sm-2">
      <input type="time" class="form-control" id="time" placeholder="Upiši vrijeme dolaska" ng-model="createAdData.time">
    </div>
  </div>
  <div class="form-group">
    <label for="inputDescription" class="col-sm-2 control-label">Opis</label>
    <div class="col-sm-4">
      <textarea required class="form-control" rows="3" id="description" placeholder="Upiši opis" ng-model="createAdData.description"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" ng-click= "onCreateClick()">Kreiraj oglas</button>
    </div>
  </div>
</form>