<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<button type="submit" class="btn btn-primary btn-sm" ng-click="onCreateClick()">Kreiraj novog korisnika</button><br><br>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Ime</th>
						<th>Prezime</th>
						<th>Email</th>	
						<th>Ažuriraj korisnika</th>
						<th>Obriši korisnika</th>
					</tr>	
				</thead>
				<tbody>
					<tr ng-repeat="user in users">
						<td>{{user.name}}</td>
						<td>{{user.surname}}</td>
						<td>{{user.email}}</td>
						<td><button type="submit" class="btn btn-primary btn-xs" ng-click="onEditClick(user)">Ažuriraj korisnika</button></td>
						<td><button type="submit" class="btn btn-primary btn-xs" ng-click="onDeleteClick(user)">Obriši korisnika</button></td>
					</tr>
				</tbody>
			</table>
		</div>	
	</div>
</div>