<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">

      <table class="table table-bordered">
        <tr>
          <th>Naslov</th>
          <td><input type="text" class="form-control" id="input" ng-model="ad.subject"></td>
        </tr> 
        <tr>
          <th>Tražim instrukcije</th>
          <td><input type="text" class="form-control" id="input" ng-model="ad.looking"></td>
        </tr> 
        <tr>
          <th>Nudim instrukcije</th>
          <td><input type="text" class="form-control" id="input" ng-model="ad.offer"></td>
        </tr>
        <tr>
          <th>Kategorija</th>
          <td><input type="text" class="form-control" id="input" ng-model="ad.category"></td>
        </tr> 
        <tr>
          <th>Cijena</th>
          <td><input type="text" class="form-control" id="input" ng-model="ad.price"></td>
        </tr>
        <tr>
          <th>Mjesto dolaska</th>
          <td><input type="text" class="form-control" id="input" ng-model="ad.place"></td>
        </tr>
        <tr>
          <th>Datum dolaska</th>
          <td><input type="text" class="form-control" id="input" ng-model="ad.date"></td>
        </tr>
        <tr>
          <th>Vrijeme dolaska</th>
          <td><input type="text" class="form-control" id="input" ng-model="ad.time"></td>
        </tr> 
        <tr>
          <th>Opis</th>
          <td><input type="text" class="form-control" id="input" ng-model="ad.description"></td>
        </tr> 
        <tr>
          <button type="submit" class="btn btn-primary btn-xs" ng-click="onSaveEditClick(ad)">Spremi promjene</button>
        </tr>
      </table>
    </div>  
  </div>
</div>
