<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="instrukcijeApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="header">
      <nav class="navbar navbar-default" role="navigation">
        <section class="container">
          <div class="navbar-header">
            
            <a class="navbar-brand" href="#/">Instrukcije</a>
            <ul class="nav navbar-nav">
              <li class="nav-item" role="presentation" class="active" ng-if="currentUser() && (currentUser().type === 'korisnik' || currentUser().type === 'admin' || currentUser().type === 'superadmin')">
                <a class="nav-link" href="#/user/profile/{{currentUser()._id}}">Moj profil</a>
              </li>
              <li class="nav-item" ng-if="currentUser() && (currentUser().type === 'korisnik' || currentUser().type === 'admin' || currentUser().type === 'superadmin')">
                <a class="nav-link" href="#/dashboard/{{currentUser()._id}}">Naslovnica</a>
              </li>
              <li class="nav-item" ng-if="currentUser() && (currentUser().type === 'admin' || currentUser().type === 'superadmin')">
                <a class="nav-link" href="#/admin/displaying-users">Popis korisnika</a>
              </li>
              <li class="nav-item" ng-if="currentUser() && (currentUser().type === 'superadmin')">
                <a class="nav-link" href="#/superadmin/displaying-admin">Popis admina</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#/user/displaying-ads">Oglasi</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="#/about-us">O nama</a>
              </li>
            </ul>
          
            <ul class="nav navbar-nav navbar-right navbar-logout-container" ng-if="currentUser() && (currentUser().type === 'korisnik' || currentUser().type === 'admin' || currentUser().type === 'superadmin')">
              <button type="button" class="btn btn-primary btn-xs" ng-click="onLogoutClick()">Odjavi se</button>
            </ul>
          </div>
          <div class="collapse navbar-collapse" id="js-navbar-collapse"></div>
        </section>
      </nav>
    </header>

    <div class="">
      <div ng-view></div>
    </div>
    <script src="bower_components/requirejs/require.js" data-main="scripts/main.js"></script>
  </body>
</html>

