<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-bordered">
        <h4>Detalji oglasa</h4><br>
        <tr>
          <th>Naslov</th>
          <td>{{ad.subject}}</td>
        </tr> 
        <tr>
          <th>Ime oglašivača</th>
          <td><button type="button" ng-click="onNameClick(ad)" class="btn btn-link">{{ad.user.name}}</button></td>
        </tr>
        <tr>
          <th>Email oglašivača</th>
          <td>{{ad.user.email}}</td>
        </tr>
        <tr>
          <th>Tražim instrukcije</th>
          <td>{{ad.looking}}</td>
        </tr> 
        <tr>
          <th>Nudim instrukcije</th>
          <td>{{ad.offer}}</td>
        </tr>
        <tr>
          <th>Kategorija</th>
          <td>{{ad.category}}</td>
        </tr> 
        <tr>
          <th>Cijena</th>
          <td>{{ad.price}}</td>
        </tr>
        <tr>
          <th>Mjesto dolaska</th>
          <td>{{ad.place}}</td>
        </tr>
        <tr>
          <th>Datum dolaska</th>
          <td>{{ad.date}}</td>
        </tr>
        <tr>
          <th>Vrijeme dolaska</th>
          <td>{{ad.time}}</td>
        </tr> 
        <tr>
          <th>Opis</th>
          <td>{{ad.description}}</td>
        </tr> 
      </table>
    </div>  
  </div>

  <section ng-if="currentUser() && (currentUser().type === 'korisnik' || currentUser().type === 'admin' || currentUser().type === 'superadmin')">
    <div class="col-sm-7">
      <textarea class="form-control" rows="3" id="comment" ng-model="createCommentData.description"placeholder="Upiši komentar"></textarea>
      <button type="button" ng-click="onCreateCommentClick()" class="btn btn-info btn-xs">Dodaj komentar</button>
    </div>
  </section>

  <section ng-if="currentUser() && (currentUser().type === 'korisnik' || currentUser().type === 'admin' || currentUser().type === 'superadmin')">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6">
      
          <form>
            {{createCommentData.error}}
            <div class="form-group">
              <span>Komentari oglasa:</span>
            
              <div class="comment-container" ng-repeat="comment in comments">
                <div class="coment-author">Korisnik - {{comment.userName}}</div>
                <div class="comment-description">{{comment.description}}</div>
                <div>
                  <button type="button" ng-click="onCommentDeleteClick(comment)" class="btn btn-info btn-xs" ng-if="currentUser() && (currentUser().type === 'admin' || currentUser().type === 'superadmin')">
                    Obriši komentar </button><br><br>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div> 
  </section>
</div>

