<div class="container-fluid">
<input ng-if="currentUser() && (currentUser().type === 'korisnik' || currentUser().type === 'admin' || currentUser().type === 'superadmin')" ng-model="filters.category" placeholder="Filtriraj po kategoriji"></input>
<button ng-if="currentUser() && (currentUser().type === 'korisnik' || currentUser().type === 'admin' || currentUser().type === 'superadmin')" type="submit" class="btn btn-primary btn-xs" ng-click="onFilterClick()">Filtriraj</button>

	<div class="row">
		<div class="col-xs-12">
			<button type="submit" class="btn btn-primary btn-sm" ng-click="onCreateAdClick()" ng-if="currentUser() && currentUser().type === 'korisnik' || currentUser().type === 'admin' || currentUser().type === 'superadmin'">Kreiraj novi oglas</button><br><br>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Naslov</th>	
						<th>Ime oglašivača</th>
						<th>Kategorija</th>
						<th>Cijena</th>
						<th ng-if="currentUser() && (currentUser().type === 'admin' || currentUser().type === 'superadmin')">Obriši oglas</th>
						<th ng-if="currentUser() && (currentUser().type === 'admin' || currentUser().type === 'superadmin')">Ažuriraj oglas</th>
					</tr>	
				</thead>
				<tbody>
					<tr ng-repeat="ad in ads">
						<td><button type="button" ng-click="onSubjectClick(ad)" class="btn btn-link">{{ad.subject}}</button></td>
						<td>{{ad.user.name}}</td>
						<td>{{ad.category}}</td>
						<td>{{ad.price}}</td>
						<td ng-if="currentUser() && (currentUser().type === 'admin' || currentUser().type === 'superadmin')"><button type="submit" class="btn btn-primary btn-xs" ng-click="onDeleteAdClick(ad)">Obriši oglas</button></td>
						<td ng-if="currentUser() && (currentUser().type === 'admin' || currentUser().type === 'superadmin')"><button type="submit" class="btn btn-primary btn-xs" ng-click="onEditAdClick(ad)">Ažuriraj oglas</button></td>
					</tr>
				</tbody>
			</table>
		</div>	
	</div>
</div>