<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">

      <form class="form-inline">
        {{loginData.error}}

        <div class="form-group">
          <label class="sr-only" for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Email" ng-model="loginData.email" ng-change="onEmailChange()">
        </div>

        <div class="form-group">
          <label class="sr-only" for="password">Lozinka</label>
          <input type="password" class="form-control" id="password" placeholder="Lozinka" ng-model="loginData.password">
        </div>

        <button type="submit" class="btn btn-default" ng-click="onLoginClick()">Prijavi se</button>
      </form>

      <div ng-show="error" class="error-mesage">Pogresan username ili password</div>

    </div>
  </div>
</div>