<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">

			<table class="table table-bordered">
				<tr>
					<th>Ime</th>
					<td>
						<input ng-if="isCurrentUser" type="text" class="form-control" id="input" ng-model="user.name">
						<span ng-if="!isCurrentUser">{{user.name}}</span>
					</td>
				</tr>	
				<tr>
					<th>Prezime</th>
					<td>
						<input ng-if="isCurrentUser" type="text" class="form-control" id="input" ng-model="user.surname">
						<span ng-if="!isCurrentUser">{{user.surname}}</span>
					</td>
				</tr>	
				<tr>
					<th>Email</th>
					<td>
						<input ng-if="isCurrentUser" type="text" class="form-control" id="input" ng-model="user.email">
						<span ng-if="!isCurrentUser">{{user.email}}</span>
					</td>
				</tr>
				<tr ng-if="isCurrentUser">
					<th ng-if="isCurrentUser">Lozinka</th>
					<td>
						<input ng-if="isCurrentUser" type="text" class="form-control" id="input" ng-model="user.password">
					</td>
				</tr>	
				<tr>
					<th>Obrazovanje</th>
					<td>
						<input ng-if="isCurrentUser" type="text" class="form-control" id="input" ng-model="user.education">
						<span ng-if="!isCurrentUser">{{user.education}}</span>
					</td>
				</tr>
				<tr>
					<th>Grad</th>
					<td>
						<input ng-if="isCurrentUser" type="text" class="form-control" id="input" ng-model="user.city">
						<span ng-if="!isCurrentUser">{{user.city}}</span>
					</td>
				</tr>
				<tr>
					<th>Poštanski broj</th>
					<td>
						<input ng-if="isCurrentUser" type="text" class="form-control" id="input" ng-model="user.postNumber">
						<span ng-if="!isCurrentUser">{{user.postNumber}}</span>
					</td>
				</tr>
				<tr>
					<th>Adresa</th>
					<td>
						<input ng-if="isCurrentUser" type="text" class="form-control" id="input" ng-model="user.address">
						<span ng-if="!isCurrentUser">{{user.address}}</span>
					</td>
				</tr>	
				<tr>
					<th>Županija</th>
					<td>
						<input ng-if="isCurrentUser" type="text" class="form-control" id="input" ng-model="user.county">
						<span ng-if="!isCurrentUser">{{user.county}}</span>
					</td>
				</tr>	
				<tr>
					<button ng-if="isCurrentUser" type="submit" class="btn btn-primary btn-xs" ng-click="onSaveEditClick(user)">Spremi promjene</button>
				</tr>
			</table>
		</div>	
	</div>
</div>
