<div class="container-fluid">
	<div class="row">
		<div class="col-xs-6">
			
			<form>
        {{registerData.error}}

  			<div class="form-group">
    			<label for="name">Ime</label>
    			<input type="name" class="form-control" id="name" placeholder="Upiši ime" ng-model="registerData.name" ng-change="onNameChange()">
  			</div>

  			<div class="form-group">
    			<label for="surname">Prezime</label>
    			<input type="surname" class="form-control" id="surname" placeholder="Upiši prezime" ng-model="registerData.surname">
  			</div>

  			<div class="form-group">
    			<label for="email">Email</label>
    			<input type="email" class="form-control" id="email" placeholder="Upiši email adresu" ng-model="registerData.email">
  			</div>

  			<div class="form-group">
    			<label for="exampleInputPassword">Lozinka</label>
    			<input type="password" class="form-control" id="password" placeholder="Upiši lozinku" ng-model="registerData.password">
  			</div>

        <div class="form-group">
          <label for="exampleInputEducation">Obrazovanje</label>
          <input type="text" class="form-control" id="education" placeholder="Upiši obrazovanje" ng-model="registerData.education">
        </div>

  			<div class="form-group">
    			<label for="city">Grad</label>
    			<input type="city" class="form-control" id="city" placeholder="Upiši grad" ng-model="registerData.city">
  			</div>

  			<div class="form-group">
    			<label for="postNumber">Poštanski broj</label>
    			<input type="postnumber" class="form-control" id="postNumber" placeholder="Upiši poštanski broj" ng-model="registerData.postNumber">
  			</div>

  			<div class="form-group">
    			<label for="address">Adresa</label>
    			<input type="address" class="form-control" id="address" placeholder="Upiši adresu" ng-model="registerData.address">
  			</div>

  			<select class="form-control" ng-model="registerData.county">
  				<option>Međimurska</option>
  				<option>Varaždinska</option>
  				<option>Krapinsko-zagorska</option>
  				<option>Koprivničko-križevačka</option>
  				<option>Zagrebačka</option>
  				<option>Grad Zagreb</option>
  				<option>Bjelovarsko-bilogorska</option>
  				<option>Virovitičko-podravska</option>
  				<option>Osječko-baranjska</option>
  				<option>Vukovarsko-srijemska</option>
  				<option>Požeško-slavonska</option>
  				<option>Brodsko-posavska</option>
  				<option>Sisačko-moslavačka</option>
  				<option>Karlovačka</option>
  				<option>Primorsko-goranska</option>
  				<option>Istarska</option>
  				<option>Ličko-senjska</option>
  				<option>Zadarska</option>
  				<option>Šibensko-kninska</option>
 				 	<option>Splitsko-dalmatinska</option>
 				 	<option>Dubrovačko-neretvanska</option>
				</select>

       <button type="submit" class="btn btn-default" ng-click="onRegisterClick()">Registriraj se</button>
			</form>

		</div>
	</div>
</div>