<h3 class="text-center">Dobrodošli na 'Instrukcije'</h3>
<div>
	<p class="text-center">Tražite instrukcije za ispit na fakultetu, ispit u školi, trebate pomoć oko
	pripreme državne mature ili želite naučiti strani jezik? Na pravom ste mjestu jer se najbolji instruktori nalaze upravo ovdje.
	Registrirajte se na našu stranicu, pratite oglase, predajte vlastiti oglas, komunicirajte sa instruktorima i na brz i jednostavan način pokupite svoje znanje. 
	Najbolja investicija u čovijekova života je ulaganje u znanje, ostvarite i Vi svoje ciljeve i uživajte u znanju.<br>
	Sretno :)</p>
</div>
<img src="./images/logo2.png" class="img-circle" alt="Cinque Terre" width="304" height="236">
<footer>
	<address>
		<p class="text-center">Za sva dodatna pitanja, primjedbe ili pohvale možete nas kontaktirati putem email adrese: <a href="mailto:#/http://instrukcije@gmail.com">instrukcije@gmail.com</a></p>
	</address>
</footer>