<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <button type="submit" ng-if="currentUser() && (currentUser().type === 'korisnik' || currentUser().type === 'admin' || currentUser().type === 'superadmin')" class="btn btn-primary btn-sm" ng-click="onCreateAdClick()">Kreiraj novi oglas</button><br><br>
      <button ng-if="currentUser() && (currentUser().type === 'korisnik' || currentUser().type === 'admin' || currentUser().type === 'superadmin')" type="submit" class="btn btn-primary btn-sm" ng-click="onProfileClick()">Posjeti profil korisnika</button><br><br>
      <table class="table table-bordered">
        <thead>
          <tr ng-if="currentUser() && (currentUser().type === 'korisnik' || currentUser().type === 'admin' || currentUser().type === 'superadmin')">
            <th>Naslov</th> 
            <th>Kategorija</th>
            <th>Cijena</th>
          </tr> 
        </thead>
        <tbody>
          <tr ng-repeat="ad in ads">
            <td><button type="button" ng-click="onSubjectClick(ad)" class="btn btn-link">{{ad.subject}}</button></td>
            <td>{{ad.category}}</td>
            <td>{{ad.price}}</td>
          </tr>
        </tbody>
      </table>
    </div>  
  </div>
  <section>
    <div ng-if="currentUser() && (currentUser().type === 'korisnik' || currentUser().type === 'admin' || currentUser().type === 'superadmin')"class="col-sm-7">
      <textarea class="form-control" rows="3" id="comment" ng-model="createCommentData.description"placeholder="Upiši komentar"></textarea>
      <button type="button" ng-click="onCreateCommentClick()" class="btn btn-info btn-xs">Dodaj komentar</button>
    </div>
  </section>

  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-7">
      
          <form>
            {{createCommentData.error}}
            <div class="comment-form-group">
              <span ng-if="currentUser() && (currentUser().type === 'korisnik' || currentUser().type === 'admin' || currentUser().type === 'superadmin')">Komentari korisnika:</span>
            
              <div class="comment-container" ng-repeat="comment in comments">
                <div ng-if="currentUser() && (currentUser().type === 'korisnik' || currentUser().type === 'admin' || currentUser().type === 'superadmin')" class="coment-author">Korisnik - {{comment.userName}}</div>
                <div ng-if="currentUser() && (currentUser().type === 'korisnik' || currentUser().type === 'admin' || currentUser().type === 'superadmin')" class="comment-description">{{comment.description}}</div>
                <div><button type="button" ng-click="onCommentDeleteClick(comment)" class="btn btn-info btn-xs" ng-if="currentUser() && (currentUser().type === 'admin' || currentUser().type === 'superadmin')">Obriši komentar</button></div><br><br>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div> 
  </section>
</div>