<div class="guest">
	<p class="text-center">
		<a ng-href="#/login" class="btn btn-default">Prijavi se</a>
	</p>
	<p class="text-center">
		<a ng-href="#/register" class="btn btn-default">Registriraj se</a>
	</p>
</div>


